@import '../../base';

.tablePafinationActions{
    
        font-size: 15px;
        font-weight: bold;
   
    .header-color{
        background-color: #d3e4cd;
    }
    .body-font{
        font-size: 12px;
    }
}
